*{
  font-family: "Poppins", sans-serif;
}
.course-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem;
}
.view {
  display: none;
}

.video-section {
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.video-container {
  position: relative;
  text-align: center;
  width: 100%;
}
.video-container iframe {
  width: 950px;
  height: 510px;
  border-radius: 20px;
}
.videoLower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 1rem 0rem;
  font-size: 17px;
  /* font-family: "Raleway", sans-serif; */
  margin-top: 0.5rem;
}
.videoNavbar {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}
.videoNavbar p {
  margin-right: 1rem;
  cursor: pointer;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
.videoDesResData{
  padding: 2rem 1.5rem 0rem;
  font-family: "Poppins", Sans-serif;
}
.videoDesResData h2{
  margin-bottom: 1rem;
}
.videoDesResData p{
  font-size: 16px;
}

.video-container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.content-section {
  flex: 25%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem 1rem;
  height: 100%;
  border-radius: 15px;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.content-section h3 {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 600;
}

.module,
.video {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.status {
  font-size: 1.2rem;
}

.customModule {
  cursor: pointer;
}
.customModule:hover {
  background-color: #ddd;
}

/* responsive */

@media (min-width: 1000px) {
  .video-section {
    flex: 1;
    margin-right: 20px;
  }

  .content-section {
    flex: 2;
  }
}

@media (max-width: 1400px) {
  .video-container iframe {
    width: 850px;
    height: 480px;
  }
}
@media (max-width: 1200px) {
  .video-container iframe {
    width: 780px;
    height: 450px;
  }
}
@media (max-width: 1000px) {
  .course-content {
    display: none;
  }
  .view {
    height: 90vh;
    display: flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
  }
}

@media (max-width: 768px) {
  .video-container img {
    width: 600px;
    height: auto;
    border-radius: 10px;
  }
}

/* view section css */

.view h2 {
  margin-bottom: 1rem;
}

.view .cover-page .coverpage-button button {
  /* font-family: "Poppins", sans-serif; */
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: 30px;
  border-radius: 40px 40px 40px 40px;
  /* background-color: white; */
  /* box-shadow: -3px 0px 23px 0px
    rgba(2.9999999999999893, 103.99999999999986, 255, 0.5); */
  padding: 12px 26px;
  border: none;
  cursor: pointer;
  /* color: #0368ff; */
  background-color: #ea4335;
  color: #000000;
  margin-bottom: 40px;
  font-weight: bold;
}
.view .cover-page .coverpage-button button:hover {
  background-color: #d4dbe9;
  /* background: linear-gradient(to right, #4285f4, #b574df, #ef66b5, #ff6b83, #ff8557, #ff8c45, #ff952f, #fd9f09, #fc8916, #f87322, #f25b2c, #ea4335); */
  border: 1px solid rgb(0, 0, 0);
  color: black;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.active-module {
  background-color: #ade7f6; 
}