* {
  font-family: "Poppins", Sans-serif;
}
/* new dashboard css */
.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
 
h1 {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 2rem;
}
 
.search-bar {
  display: flex;
  margin-bottom: 20px;
}
 
.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
 
.filters button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
}
.courseCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 10px 20px;
  align-items: center;
  justify-content: center;
}
.course-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* padding: 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.courseCardLower {
  padding: 0rem 1rem 1rem;
}
 
.course-card img {
  width: 100%;
  height: 320px;
  border-radius: 4px;
  margin-bottom: 2px;
}
 
.course-card h4 {
  font-size: 18px;
  margin-bottom: 1px;
  text-align: left;
}
 
.course-card p {
  color: #555;
  margin-bottom: 2px;
  text-align: left;
}
 
.progress-bar {
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}
 
.progress-bar .progress {
  height: 8px;
  background-color: #4caf50;
}
 
.course-card button {
  padding: 5px 10px;
  border: none;
  background-color: #0e2a5c;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #0e2a5c;
}
.course-card button:hover {
  background-color: white;
  color: black;
  border: 1px solid #0e2a5c;
}
 
@media (max-width: 1300px) {
  .courseCardContainer {
    grid-template-columns: repeat(3, 280px);
    gap: 20px 20px;
  }
  .course-card img {
    height: 250px;
  }
}
@media (max-width: 729px) {
  .filters {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin-bottom: 20px;
  }
  .courseCardContainer {
    grid-template-columns: repeat(1, 300px);
    gap: 20px 20px;
  }
}
 
@media (max-width: 600px) {
  .course-card {
    padding: 10px;
  }
 
  .course-card h2 {
    font-size: 18px;
  }
 
  .course-card p {
    font-size: 14px;
  }
 
  .course-card button {
    padding: 8px 16px;
    font-size: 14px;
  }
}