<nav class="navbar">
  <div class="navbar-container container">
    <input type="checkbox" id="toggle-menu" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <!-- lms is added so that routing happens properly after deplyoment, in localhost remove /lms from here it will work normally -->
      <li class="navbarLink"><a href="/lms/dashboard">Dashboard</a></li>
      <li class="navbarLink profile" (click)="toggleDropdown()">
        <a href="javascript:void(0)">Profile</a>
      </li>
      <div class="menu" [class.show]="isDropdownOpen">
        <ul>
          <li>{{ userService.userData.name }}</li>
          <li>{{ userService.userData.email }}</li>
          <!-- <li>his&#64;gmail.com</li> -->
          <hr />
          <li (click)="logoutBtn()" class="logout" style="cursor: pointer">
            Logout
          </li>
        </ul>
      </div>
    </ul>
    <a href="/lms/dashboard"
      ><img
        src="https://res.cloudinary.com/dvk1ynowq/image/upload/v1717753182/curiotoryWhite_vcdfhx.png"
        alt="logo"
        class="logo"
    /></a>
  </div>
</nav>
